---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="main section--left">
    <h1 class="section__title">Blog</h1>
    <p class="section__text">Check out my blog posts below</p>
    <div class="section__actions">
      <a href="/" class="button">Back</a>
    </div>
    <ul class="blocks blocks--column posts">
      {
        posts.map((post) => (
          <li>
            <a class="post block" href={`/blog/${post.slug}/`}>
              <h2 class="post__title">
                {post.data.title}{" "}
                <span class="post__date">
                  <FormattedDate date={post.data.pubDate} />
                </span>
              </h2>
              <p class="post__desc">{post.data.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  @import "@styles/scheme";

  .posts {
    padding: 1rem;
    border: 1px solid $border-color;
  }

  .post {
    display: block;
    padding: 1rem;
  }

  .post__date {
    font-size: 1rem;
    font-style: italic;
    color: #595959;
    font-weight: normal;
  }

  .post:visited {
    color: #999;
  }

  .post__title {
  }

  .post__desc {
  }
</style>
