---
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section class="section blog">
      <h1 class="section__title">Blog</h1>
      <p class="section__text">Check out my blog posts below</p>
      <ul class="posts">
        {
          posts.map((post) => (
            <li>
              <a class="post" href={`/blog/${post.slug}/`}>
                <h2 class="post__title">
                  {post.data.title}{" "}
                  <span class="post__date">
                    <FormattedDate date={post.data.pubDate} />
                  </span>
                </h2>
                <p class="post__desc">{post.data.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  .blog {
    margin: 5vh auto;
  }

  .posts {
    list-style-type: none;
  }

  .post {
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;

    color: #fff;
    background-color: #222;
    padding: 1rem;

    text-decoration: none;
    border-radius: 0.25rem;
    border: 1px solid #333;
  }

  .post:hover {
    background-color: #2e2e2e;
  }

  .post__date {
    font-size: 1rem;
    font-style: italic;
    color: #595959;
  }

  .post:visited {
    color: #999;
  }

  .post__title {
  }

  .post__desc {
  }
</style>
