---
import { Picture } from "astro:assets";

import backendLanguagesImage from "@assets/images/langb-small.png";
import frontendLanguagesImage from "@assets/images/langf-small.png";
import editorsImage from "@assets/images/editors-small.png";
import backendFrameworksImage from "@assets/images/framb-small.png";
import frontendFrameworksImage from "@assets/images/framf-small.png";
---

<div class="section technology" id="technology">
    <h2 class="section__title">Technology</h2>
    <p class="section__text">
        Below is some of the frameworks, languages, and technology that I work
        with
    </p>
    <div class="blocks blocks--column">
        <div class="block">
            <div>
                <h3 class="block__title">Backend Languages</h3>
                <p class="block__text">
                    Most of my projects make use of the Rust programming
                    language, which I have been using since March of 2022 and
                    become quite proficient with. I am also familiar with
                    languages such as Java and Kotlin having roughly 5 years
                    experience programming with Java, 2 years with Kotlin, and 3
                    years with PHP.
                </p>
            </div>
            <Picture
                src={backendLanguagesImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="Backend Languages"
                width={170}
                height={153}
            />
        </div>

        <div class="block">
            <div>
                <h3 class="block__title">Frontend Languages</h3>
                <p class="block__text">
                    I am very well accustomed to popular frontend languages like
                    Javascript and Typescript with around 5 years experienced in
                    them both combined. I have been using them a lot throughout
                    many of my projects. I am also quite familiar with CSS and
                    HTML having around 5 years experience using them both.
                </p>
            </div>
            <Picture
                src={frontendLanguagesImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="Frontend Languages"
                width={170}
                height={150}
            />
        </div>

        <div class="block">
            <div>
                <h3 class="block__title">IDE & Editors</h3>
                <p class="block__text">
                    Previously I would have preferred to develop my applications
                    using the JetBrains collections of IDE's however I've since
                    grown away from these as my usage of the Rust language has
                    increased and have since started preferring to use VSCode
                    for most projects. However for writing code in Java and
                    Kotlin I will use JetBrains IDE's still as they are a well
                    designed tool for the right job. I have also been
                    experimenting with modal text editors such as NeoVim and
                    Helix in my off time.
                </p>
            </div>
            <Picture
                src={editorsImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="IDE & Editors"
                width={170}
                height={153}
            />
        </div>
        <div class="block">
            <div>
                <h3 class="block__title">Backend Frameworks & Tooling</h3>
                <p class="block__text">
                    I am very familiar with the Laravel PHP framework having
                    shipped multiple production projects using it in the past.
                    NuxtJS was the framework which I previously developed my
                    personal website in, among other side projects. I have used
                    NodeJS to make bots as well as other useful tools and full
                    on server systems. This current iteration of my website
                    makes use of the NextJS React framework. Recently I have
                    come to use the Actix and Axum web frameworks while
                    developing my Rust applications.
                </p>
            </div>
            <Picture
                src={backendFrameworksImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="Backend Frameworks & Tooling"
                width={170}
                height={153}
            />
        </div>
        <div class="block">
            <div>
                <h3 class="block__title">Frontend Frameworks & Tooling</h3>
                <p class="block__text">
                    I am quite familiar with a number of front-end frameworks my
                    favorite of which is Astro. I have a few other assorted
                    frameworks mixed in throughout my project but Astro and
                    Svelte tend to be the ones I rely on the most. I also have
                    experience in frameworks such as React from my educational
                    pathway.
                </p>
            </div>
            <Picture
                src={frontendFrameworksImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="Frontend Frameworks & Tooling"
                width={170}
                height={112}
            />
        </div>
    </div>
</div>

<style>
    .blocks {
        display: flex;
        flex-flow: column;

        gap: 2rem;
    }

    .block {
        display: flex;
        flex-flow: row;
        align-items: center;

        gap: 1rem;
    }

    @media screen and (max-width: 48rem) {
        .block {
            flex-flow: column-reverse;
            justify-content: center;
        }

        .block__img {
            margin: 0 auto 1rem;
        }
    }
</style>
